*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    /* min-width: 1170px; */
}
body.lock{
    overflow: hidden;
}
.wrap{
    width: 100%;
    margin: 0 auto;
}
.container{
    width: 100%;
    background-color: #17335a;
    position: sticky;
    position: -webkit-sticky;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100px;
    box-sizing: border-box;
    transition: .3s;
}
.container.add{
    background-color: rgba(23, 51, 90, 0.8);
    height: 70px;
}
.container.add .logo img{
    width: 100px;
}
/* main page */

/* header */
.header{
    /* background-color: #17335A; */
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo img{
    padding-top: 10px;
    width: 150px;
    transition: .3s;
}
.menu{
    width: 60%;
    margin-right: 10px;
}
.menu_icon{
    display: none;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.active, .menu ul li a:hover{
    color: black;
    transition: .4s;
    text-shadow: 0 5px 20px white;
}
.contact_phone{
    color: white;
    text-align: center;
    font-size: 18px;
}
/* main page - carousel */
.slideshow_container{
    width: 100%;
    position: relative;
    /* padding-top: 87px; */
}
.slideshow{
    display: none;
    overflow: hidden;
}
.slideshow img{
    width: 100%;
    vertical-align: middle;
    transition: .5s;
}
.slideshow img:hover{
    transform: scale(1.2);
    transition: 2s;
}
.prev, .next{
    top: 45%;
    position: absolute;
    padding: 25px 15px;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 3px;
    width: auto;
    font-size: 35px;
    cursor: pointer;
    transition: .5s ease;
    user-select: none;
}
.next{
    right: 0;
}
.prev:hover, .next:hover{
    background-color: white;
    transition: .4s;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{opacity: 0.4;}
    to{opacity: 1;}
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active_dot, .dot:hover {
    background-color: #717171;
}
.bottom-back{
    background: url("../img/main-bottom-bg.jpg") center fixed no-repeat;
    width: 100%;
    height: 250px;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
}
/*========================== info =========================*/
.riks_info{
    width: 100%;
}
.info{
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
    border: 3px solid #A0A0A0;
    position: relative;
    margin-top: 150px;
}
.info h2{
    text-align: center;
}
.info_text1, .info_text2{
    padding-left: 15px;
}
.info_text2{
    padding-bottom: 25px;
}
.info2{
    background: url("../img/info-background.png");
    width: 100%;
    margin:  0 auto;
}
.info2_inner{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px 0;
}
.eng_lang{
    background-color: rgba(91, 150, 233, 0.5);
    color: white;
    width: 48%; 
    overflow: hidden;
    position: relative;
}
.modal, .modal1{
    display: none;
    position: fixed;
    border-radius: 5px;
    border: 5px solid grey;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    z-index: 10;
    background-color: rgba(0,0,0,0.4); 
}
.model_content{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border: 5px solid lightgrey;
    border-radius: 5px;
    padding-bottom: 20px;
} 
.model_content .modal_header{
    width: 100%;
    display: flex;
}
.model_content h1{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    width: 80%;
    margin: 20px auto;
    padding-bottom: 20px;
}
.model_content .close{
    margin-right: 20px;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
    transition: .2s;
    cursor: pointer;
    color: lightgrey;
}
.model_content .close:hover{
    color: black;
}
.model_content .modal_head{
    font-size: 18px;
    font-weight: bold;
    color: grey;
    padding: 20px;
}
.model_content .modal_text{
    font-size: 16px;
    color: grey;
    margin-left: 50px;
}
.eng_lang .span5{
    background: linear-gradient(90deg, transparent, blue);
    width: 100%;
    height: 6px;
    position: absolute;
    left: -100%;   
    box-shadow: 0 0 10px blue,
    0 0 20px blue,
    0 0 30px blue,
    0 0 40px blue,
    0 0 50px blue;
}
.eng_lang:hover .span5{
    left: 100%;
    transition: .3s;
}
.span6{
    transform: rotate(180deg);
    background: linear-gradient(360deg, transparent, blue);
    height: 100%;
    width: 6px;
    top: -100%;
    position: absolute;
    right: 0;
    box-shadow: 0 0 10px blue,
    0 0 20px blue,
    0 0 30px blue,
    0 0 40px blue,
    0 0 50px blue;
}
.eng_lang:hover .span6{
    top: 100%;
    transition: .3s;
    transition-delay: .2s
}
.span7{
    bottom: 0;
    background: linear-gradient(270deg, transparent, blue);
    width: 100%;
    height: 6px;
    position: absolute;
    left: 100%;   
    box-shadow: 0 0 10px blue,
    0 0 20px blue,
    0 0 30px blue,
    0 0 40px blue,
    0 0 50px blue;
}
.eng_lang:hover .span7{
    left: -100%;
    transition: .3s;
    transition-delay: .4s;
}
.span8{
    left: 0;
    background: linear-gradient(180deg, transparent, blue);
    height: 100%;
    width: 6px;
    bottom: -100%;
    position: absolute;
    transform: rotate(180deg);
    box-shadow: 0 0 10px blue,
    0 0 20px blue,
    0 0 30px blue,
    0 0 40px blue,
    0 0 50px blue;
}
.eng_lang:hover .span8{
    bottom: 100%;
    transition: .3s;
    transition-delay: .6s;
}
.eng_lang:hover{
    background-color:rgba(91, 150, 233, 1);
    transition-delay: .8s;
    transition-duration: .4s;
}
.info2_inner h1, .info2_inner .more_info{
    text-align: center;
    cursor: pointer;
}
.info2_inner p{
    padding: 15px;
}
.ielts{
    background-color: rgba(233, 93, 97, 0.5);
    color: white;
    width: 48%;
    position: relative;
    overflow: hidden;
}
.ielts .span1{
    background: linear-gradient(90deg, transparent, red);
    box-shadow: 0 0 10px red,
    0 0 20px red,
    0 0 30px red,
    0 0 40px red,
    0 0 50px red;
    width: 100%;
    height: 6px;
    position: absolute;
    left: -100%;   
}
.span2{
    transform: rotate(180deg);
    background: linear-gradient(360deg, transparent, red);
    height: 100%;
    width: 6px;
    top: -100%;
    position: absolute;
    right: 0;
    box-shadow: 0 0 10px red,
    0 0 20px red,
    0 0 30px red,
    0 0 40px red,
    0 0 50px red;
}
.span3{
    bottom: 0;
    background: linear-gradient(270deg, transparent, red);
    width: 100%;
    height: 6px;
    position: absolute;
    left: 100%;   
    box-shadow: 0 0 10px red,
    0 0 20px red,
    0 0 30px red,
    0 0 40px red,
    0 0 50px red;
}
.span4{
    left: 0;
    background: linear-gradient(180deg, transparent, red);
    height: 100%;
    width: 6px;
    bottom: -100%;
    position: absolute;
    transform: rotate(180deg);
    box-shadow: 0 0 10px red,
    0 0 20px red,
    0 0 30px red,
    0 0 40px red,
    0 0 50px red;
}
.ielts:hover .span4{
    bottom: 100%;
    transition: .3s;
    transition-delay: .6s;
}
.ielts:hover .span2{
    top: 100%;
    transition: .3s;
    transition-delay: .2s;
}
.ielts:hover .span3{
    left: -100%;
    transition: .3s;
    transition-delay: .4s;
}
.ielts:hover .span1{
    left: 100%;
    transition: .3s;
}
.ielts:hover{
    background-color: rgb(224, 75, 79);
    transition-delay: .8s;
    transition-duration: .4s;
}
/* ========================= advantages third page ======================*/
.advantages{
    width: 100%;
    background-color: #e6e6e6;
}
.advantages_inner{
    max-width: 1100px;
    margin: 0 auto;
}
.statistic1{
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.s{
    text-align: center;
    width: 255px;
    position: relative;
}
.s img{
    border-radius: 50%;
    background-color: rgba(0,0,0, 0.2);
    padding: 10px;
    position: relative;
}
.s_text{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

/* ============== video - images =============*/

.img_video{
    max-width: 1100px;
    margin: 0 auto;
}

.images{
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: stretch; */
    flex-wrap: wrap;
    color: white;
    padding: 30px 0;
}

.row1{
    display: flex;  
}
.first_block{
    position: relative;
    overflow: hidden;
    width: 366px;
    margin: 0 auto;
    height: 248px;
    background-color: #ccc;
}
.first_block img{
    width: 367px;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: all .4s linear;
}
.first_block:hover img{
    transform: scale(1.4);
    transition: all 1s linear;
    transition-timing-function: ease;
}
.doblock-1, .doblock-2, .doblock{
    pointer-events: none;
    width: 0%;
    height: 0px;
    position: absolute;
    background-color: rgba(25, 1, 21, 0.8);
    transition-duration: 0.2s;
    transition-timing-function: linear; 
}
.doblock{
    width: 367px;
}
.def{
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 18px;
    top: 0;
    padding: 15px;
    opacity: 0;
    transition: all .2s linear;
}

.first_block:hover .def{
    opacity: 1;
}

/* london-bus */
.back_london_bus{
    background: url("../img/london_bus.jpg") center fixed ;
    width: 100%;
    height: 200px;
    -webkit-background-size: cover;
    background-size: cover;
}
/* statistika */
.statistika{
    width: 100%;
    background-color: #6B6B6B;
}
.statistika_inner{
    max-width: 1100px;
    margin: 0 auto;
    color: white;
}
.statistic_header{
    text-align: center;
    padding: 70px;
    font-size: 32px;
    font-weight: bold;
}
.numbers_inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.statistic_block{
    text-align: center;
    width: 30%;
    margin-bottom: 30px;
}
.statistic_block img{
    width: 70px;
}
.real_num{
    font-size: 40px;
    font-weight: bold;
    margin: 15px 0;
}
.real_text{
    font-size: 18px;
}
/* comments */
.comments{
    width: 100%;
}
.comment_inner{
    height: 400px;
    max-width: 1100px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
.com{
    width: 100%;
    padding: 0px 100px;
    position: absolute;
    transition: left 0.5s linear;
}
.comment{
    text-align: center;
    width: 100%;
    /* margin: 0 auto; */
}
.author{
    color: #7D7D7D;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.comment_word{
    color: #A9A9A9;
    font-size: 20px;
    border-top: 3px solid #EEEEEE;
    padding-top: 20px;
}
.prev_btn, .next_btn{
    font-size: 70px;
    color: #A9A9A9;
    position: absolute;
    top: 35%;
    cursor: pointer;
    z-index: 10;
    user-select: none;
}
.next_btn{
    right: 0;
    position: absolute;
}
.prev_btn:hover, .next_btn:hover{
    color: grey;
    transition: .3s;
}

/*====================== achievments ==================*/
.achievments{
    width: 100%;
}
.achiev_text{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.logos{
    max-width: 1100px;
    margin: 0 auto;
}
.logo_img img{
    width: 100%;
}

/* ================footer================= */
.footer{
    width: 100%;
    background-color: #001048;
}
.footer_content{
    max-width: 1100px;
    display: flex;
    color: white;
    margin: 0 auto;
    padding: 50px 0;
    align-items: center;
    justify-content: space-between;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.adres_item{
    text-align: center;
    padding: 5px;
}
.head{
    font-weight: bold;
    font-size: 16px;
}
.head img{
    transition: .3s;
}
.head img:hover{
    transform: scale(1.2);
}
.inner{
    font-size: 14px;
}
.time_text{
    margin-bottom: 10px;
    font-weight: bold;
}
.hour{
    padding-bottom: 3px;
}



/* media */

@media (min-width:1025px) and (max-width: 1200px){
    .wrap{
        width: 100%;
    }
    .header{
        width: 950px;
    }
    .logo img{
        width: 120px;
    }
    .container{
        height: 80px;
    }
    .info{
        width: 950px;
    }
    .info2_inner{
        width: 950px;
    }
    .img_video{
        width: 1000px;
    }
    .comment_inner{
        width: 950px;
    }
    .logos{
        width: 950px;
    }
    .footer_content{
        width: 950px;
    }
    .map iframe{
        width: 370px;
    }
    /* .doblock{
        width: 0;
    } */
}

@media (min-width:769px) and (max-width: 1024.9px){
    .logo img{
        width: 95px;
    }
    .menu ul li a{
        font-size: 15px;
    }
    .contact_phone{
        font-size: 13px;
    }
    .header{
        justify-content: space-around;
        width: 750px;
    }
    .container{
        height: 80px; 
    }
    .menu{
        margin-right: 0;
        width: 63%;
    }
    .prev, .next{
        padding: 7px 9px;
    }
    .dot{
        width: 12px;
        height: 12px;
    }
    .bottom-back{
        height: 205px;
    }
    .info{
        width: 750px;
        margin-top: 90px;
    }
    .info h2{
        font-size: 16px;
    }
    .info_text1, .info_text2{
        font-size: 13px;
    }
    .info2_inner{
        width: 750px;
    }
    .info2_inner h1{
        font-size: 16px;
    }
    .info2_inner p{
        font-size: 13px;
        padding-bottom: 0;
    }
    .more_info{
        font-size: 16px;
    }
    .modal_header h1{
        font-size: 18px;
    }
    .modal .model_content .modal_head{
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .modal .model_content .modal_text{
        font-size: 12px;
    }
    .advantages_inner{
        width: 750px;
    }
    .s{
        width: 249px;
        margin-top: 10px;
    }
    .s img{
        width: 90px;
    }
    .s_text{
        font-size: 12px;
    }
    .img_video{
        width: 750px;
    }
    .img_video .images .first_block{
        margin-top: 10px;
    }
    .back_london_bus{
        height: 150px;
    }
    .statistic_header{
        font-size: 16px;
    }
    .real_num{
        font-size: 20px;
    }
    .real_text{
        font-size: 14px;
    }
    .numbers_inner{
        justify-content: space-around;
    }
    .comment_inner{
        height: 288px;
        width: 700px;
    }
    .prev_btn, .next_btn{
        font-size: 50px;
        top: 48%;
    }
    .author{
        font-size: 20px;
    }
    .comment_word{
        font-size: 16px;
    }
    .com{
        padding: 0 70px;
    }
    .footer_content{
        width: 750px;
    }
    .map iframe{
        width: 300px;
        height: 200px;
    }
    .hour{
        font-size: 12px;
    }
    .head{
        font-size: 14px;
    }
    .inner{
        font-size: 12px;
    }
    .first_block{
        width: 250px;
        margin: 0 auto;
        height: 228px;
    }
    .first_block img{
        width: 250px;
        height: 100%;
    }
    .doblock{
        width: 0;
    }
}

@media (min-width:580px) and (max-width: 768.9px){
    .logo img{
        width: 85px;
    }
    .contact_phone{
        font-size: 13px;
    }
    .header{
        justify-content: space-around;
        width: 550px;
    }
    .container{
        height: 60px; 
    }
    .prev, .next{
        padding: 7px 9px;
    }
    .dot{
        width: 12px;
        height: 12px;
    }
    .bottom-back{
        height: 180px;
    }
    .info{
        width: 550px;
        margin-top: 60px;
    }
    .info h2{
        font-size: 16px;
    }
    .info_text1, .info_text2{
        font-size: 12px;
    }
    /* .info2{
        overflow: hidden;
    } */
    .info2_inner{
        width: 550px;
    }
    .info2_inner h1{
        font-size: 16px;
    }
    .info2_inner p{
        font-size: 13px;
        padding-bottom: 0;
    }
    .more_info{
        font-size: 16px;
    }
    .modal .model_content{
        width: 70%;
        margin:  0 auto;
    }
    .modal_header h1{
        font-size: 18px;
    }
    .modal .model_content .modal_head{
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .modal .model_content .modal_text{
        font-size: 12px;
    }
    .info2{
        height: 250px;
        margin-top: -38px;
    }
    .advantages_inner{
        width: 550px;
    }
    .s{
        width: 150px;
        margin-top: 10px;
    }
    .s img{
        width: 70px;
    }
    .s_text{
        font-size: 12px;
    }
    .statistic1{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .img_video{
        width: 550px;
    }
    .first_block{
        width: 265px;
        margin: 0 auto;
        height: 150px;
    }
    .first_block img{
        width: 265px;
        height: 100%;
    }
    .back_london_bus{
        height: 150px;
    }
    .statistic_header{
        font-size: 16px;
    }
    .real_num{
        font-size: 20px;
    }
    .real_text{
        font-size: 14px;
    }
    .numbers_inner{
        justify-content: space-between;
    }
    .comment_inner{
        height: 298px;
        width: 550px;
    }
    .prev_btn, .next_btn{
        font-size: 50px;
        top: 48%;
    }
    .author{
        font-size: 20px;
    }
    .comment_word{
        font-size: 16px;
    }
    .com{
        padding: 0 70px;
    }
    .ava img{
        width: 100px;
    }
    .achiev_text{
        font-size: 18px;
    }
    .logos{
        width: 550px;
    }
    .footer_content{
        width: 550px;
    }
    .map iframe{
        width: 200px;
        height: 150px;
    }
    .hour{
        font-size: 11px;
    }
    .head{
        font-size: 12px;
    }
    .head img{
        width: 15px;
    }
    .inner{
        font-size: 11px;
    }
    .doblock{
        width: 0;
    }
}

@media (min-width:320px) and (max-width: 579.9px){
    .logo img{
        width: 75px;
    }
    .contact_phone{
        font-size: 12px;
        display: none;
    }
    .header{
        justify-content: space-around;
        width: 300px;
    }
    .container{
        height: 60px; 
    }
    .prev, .next{
        padding: 7px 9px;
    }
    .dot{
        width: 12px;
        height: 12px;
    }
    .bottom-back{
        height: 150px;
    }
    .info{
        max-width: 300px;
        margin-top: 50px;
        height: 180px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .info::-webkit-scrollbar{
        width: 5px;
        background-color: lightgray;
        border-radius: 5px;
    }
    .info::-webkit-scrollbar-thumb{
        background-color: #001048;
        border-radius: 10px;
    }
    .info2{
        margin-top: 10px;
        overflow: hidden;
    }
    .info h2{
        font-size: 16px;
    }
    .info_text1, .info_text2{
        font-size: 12px;
    }
    .info2_inner{
        /* width: 400px; */
        margin: 0 auto;
        justify-content: center;
    }
    .eng_lang{
        width: 300px;
        margin-bottom: 15px;
    }
    .ielts{
        width: 300px;
    }
    .info2_inner h1{
        font-size: 16px;
    }
    .info2_inner p{
        font-size: 13px;
        padding-bottom: 0;
    }
    .more_info{
        font-size: 16px;
    }
    .modal .model_content{
        width: 85%;
        margin:  0 auto;
        height: 400px;
        overflow: auto;
    }
    .modal_header h1{
        font-size: 18px;
    }
    .modal .model_content .modal_head{
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .modal .model_content .modal_text{
        font-size: 12px;
    }
    .advantages_inner{
        width: 300px;
    }
    .s{
        width: 150px;
        margin-top: 10px;
    }
    .s img{
        width: 70px;
    }
    .s_text{
        font-size: 12px;
    }
    .statistic1{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .img_video{
        width: 300px;
    }
    .first_block{
        width: 265px;
        margin: 5px auto;
        height: 150px;
    }
    .back_london_bus{
        height: 130px;
    }
    /* .statistic_numbers{
        display: flex;
        flex-wrap: wrap;
    } */
    .statistic_header{
        font-size: 16px;
    }
    .real_num{
        font-size: 20px;
        margin: 10px 0;
    }
    .real_text{
        font-size: 14px;
    }
    .numbers_inner{
        justify-content: space-around;
    }
    .statistic_block{
        background-color: #17335a;
        border-radius: 25px;
        width: 200px;
        padding: 0 10px 10px 10px;
    }
    .statistic_block img{
        display: none;
    }
    .real_text{
        font-size: 12px;
    }
    .comment_inner{
        height: 298px;
        width: 300px;
    }
    .prev_btn, .next_btn{
        font-size: 50px;
        top: 48%;
    }
    .author{
        font-size: 20px;
    }
    .comment_word{
        font-size: 13px;
        overflow: auto;
        height: 200px;
    }
    .com{
        padding: 0 70px;
    }
    .ava img{
        width: 100px;
    }
    .footer_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_adres{
        margin-bottom: 20px;
    }
    .footer_time{
        margin-bottom: 20px;
        text-align: center;
    }
    .map iframe{
        width: 300px;
        height: 150px;
    }
    .hour{
        font-size: 11px;
    }
    .head{
        font-size: 12px;
    }
    .head img{
        width: 15px;
    }
    .inner{
        font-size: 11px;
    }
    .doblock{
        width: 0;
    }
}

@media (max-width: 768px){
    .header{
        justify-content: space-between;
    }
    .menu{
        /* display: none; */
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
         /* background-color: #17335a;  */
         background-color: rgba(23,51,90, 0.8);
        transition: left .3s ease 0s;
        overflow: auto;
        left: -100%;
    }
    .menu.active1{
        left: 0;
    }   
    .menu ul{
        display: block;
    }
    .menu ul li a{
        font-size: 24px;
    }
    .menu_icon{
        z-index: 15;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu_icon.active1 span{
        transform: scale(0) translate(0px, -50%);
    }
    .menu_icon.active1::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu_icon.active1::after{
        top: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .menu_icon::before, .menu_icon::after, .menu_icon span{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: .3s ;
        background-color: white;
    }
    .menu_icon::before,
    .menu_icon::after{
        content: '';
    }
    .menu_icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu::before{
        content: '';
        position: fixed;
        width: 100%;
        left: 0;
        height: 60px;
        top: 0;
        z-index: 2;
    }
    .menu_icon::before{
        top: 0;
    }
    .menu_icon::after{
        bottom: 0;
    }
    .doblock{
        width: 0;
    }
}

@media (max-height:400px){
    .modal .model_content{
        width: 85%;
        margin:  0 auto;
        height: 200px;
        overflow: auto;
    }

}